.details_container {
  padding: 10px 20px;
}

.details_container h2 {
  font-size: 2rem;
}

.details_container h6 {
  font-size: 1rem;
  font-weight: 300;
}

.details_container .price {
  font-size: 2rem;
  font-weight: bold;
}

.details_container img {
  max-width: 400px;
}

.details_container .description {
  margin-top: 50px;
}

.container_modal_delet_buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.container_modal_delet_buttons button:first-child {
  background-color: red;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.container_modal_delet_buttons button:last-child {
  cursor: pointer;
}
